body {
    font-family: "Abel", sans-serif;
    background-color: #808080;
    margin: auto;
    color: white;
}

#header {
    background-color: black;
    height: 110px;
    font-family: "Exo", sans-serif;
}

#header a {
    color: white;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: lightgray;
}

h1, h2 {
    /* font for headings */
    font-family: "Exo", sans-serif;
}

#logo {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 20px;
}


#logo img {
    width: 50px;
    height: auto; /* maintain aspect ratio */
    margin-right: 10px;
    
}

#logo h2 {
    display: inline-block;

}

navigation {
    display: inline-block;
    float: right;
    margin-top: 40px;
}

navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0px 20px;
    height: 100%;
}

.info-section {
    height: 330px;
    text-align: center;
    position: relative;
}

.info-section h2 {
    width: 340px;
    display: inline-block;
    font-size: 35px;
}

.info-section p {
    display: inline-block;
    width: 350px;
    font-size: 20px;
}

.info-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    position: relative;
    height: 450px;
}

.hero h1, .text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 100%;
}

.download {
    text-align: center;
    margin-bottom: 30px;
}

.download h1 {
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
}

.download div {
    height: 120px;
}

.download .logo {
    width: 57px;
    height: auto;
    margin-right: 20px;
}

.download img {
    width: 180px;
}

.download p {
    display: inline-block;
    font-size: 50px;
}

footer {
    width: 100%;
    background-color: black;
    height: 110px;
    font-size: 20px;
}

footer p {
    margin: 0px;
    margin-left: 20px;
    padding-top: 40px;
}

.wrapper {
    margin: 0px 30px;
}

.contact-form {
    background-color: #4D4D4D;
}

.contact-info {
    height: 400px;
    text-align: center;
    position: relative;
}

.contact-info > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-info div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.contact-info h1 {
    font-size: 60px;
}

form {
    margin: auto;
    width: 460px;
    padding: 30px 0px;
}

input[type=text], input[type=email], textarea {
    width: 460px;
    font-size: 15px;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: "Abel", sans-serif;
    border-radius: 5px;
    border: 0;
    padding-left: 8px;
}

textarea {
    height: 120px;
    padding: 10px 5px;
}

label {
    padding: 10px 0px;
    display: inline-block;
}

input {
    display: block;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 0;
    font-family: "Abel", sans-serif;
    font-size: 15px;
    color: white;
}

.social-info {
    height: 780px;
    text-align: center;
    position: relative;
}


.social-info > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-info div a {
    display: block;
}

.social-info div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.video iframe {
    margin: 30px auto;
    display: block;
    width: 90vw;
    height: 50.62vw;
    position: relative;
}


.social-info h1 {
    font-size: 60px;
}

.hamburger {
    display: none;
    
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0s;
}

/* Rotate first bar */
.showMenu .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.showMenu .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.showMenu .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


@media only screen and (max-width: 850px) {
    navigation {
        display: none;
        float: none;
    }    

    .show {
        display: inline;
    }

    navigation ul li {
        width: 100%;
        display: inline-block;
        text-align: center;
        border: 1px solid white;
        margin: 0;
        box-sizing: border-box;
    }


    navigation ul {
        width: 100%;
        box-sizing: border-box;
    }

    #header {
        height: auto;
    }

    .hamburger {
        display: inline-block;
        float: right;
        margin-top: 15px;
        margin-right: 20px;
    }

    #logo {

        margin-top: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .twitter-timeline {
        width: 90vw;
    }

    .social-info div a img {
        width: 90vw;
    }

    .contact-info div a img {
        width: 90vw;
    }

    form {
        width: 90vw;
    }

    input[type=text], input[type=email], textarea {
        width: 100%;
    }
}