body {
    font-family: "Abel", sans-serif;
    background-color: #808080;
    margin: auto;
    color: white;
}

#header {
    background-color: black;
    height: 110px;
    font-family: "Exo", sans-serif;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: lightgray;
}

h1, h2 {
    /* font for headings */
    font-family: "Exo", sans-serif;
}

#logo {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 20px;
}


#logo img {
    width: 50px;
    height: auto; /* maintain aspect ratio */
    margin-right: 10px;
    
}

#logo h2 {
    display: inline-block;

}

navigation {
    display: inline-block;
    float: right;
    margin-top: 40px;
}

navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

navigation ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0px 20px;
    height: 100%;
}

.info-section {
    height: 330px;
    text-align: center;
    position: relative;
}

.info-section h2 {
    width: 340px;
    display: inline-block;
    font-size: 35px;
}

.info-section p {
    display: inline-block;
    width: 350px;
    font-size: 20px;
}

.info-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    position: relative;
    height: 450px;
}

.hero h1, .text {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 100%;
}

.download {
    text-align: center;
    margin-bottom: 30px;
}

.download h1 {
    font-size: 50px;
    margin: 0;
    margin-top: 20px;
}

.download div {
    height: 120px;
}

.download .logo {
    width: 57px;
    height: auto;
    margin-right: 20px;
}

.download img {
    width: 180px;
}

.download p {
    display: inline-block;
    font-size: 50px;
}

footer {
    width: 100%;
    background-color: black;
    height: 110px;
    font-size: 20px;
}

footer p {
    margin: 0px;
    margin-left: 20px;
    padding-top: 40px;
}

.wrapper {
    margin: 0px 30px;
}